body {
    margin: 5px;
    padding: 5px;
}

.header {
    padding: 0;
    border-bottom: 0.5px solid;
    width: 100%;
    background-color: white;
    margin: 0;
}

.header2 {
    text-align: right;
    margin-right: 15px;
}

.header p {
    color: rgb(9, 109, 9);
}

.main img {
    height: 300px;
    border-radius: 15px;
}

button {
    text-decoration: none;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: greenyellow;
}

.main {
    margin: 0 0 0 50px;
}

.main p {
    width: 55%;
    margin: 15px;
}

.block {
    height: 150px;
    display: block;
}

.main h2 {
    text-align: right;
    text-decoration: underline;
}

summary {
    cursor: pointer;
}

.footer {
    text-align: center;
}

.mm {
    display: flex;
    max-width: 100%;
    overflow: auto;
}

.m {
    margin: 15px;
}

textarea {
    height: 300px;
    border: 0;
    border-radius: 15px;
    width: auto;
    resize: none;
}

iframe {
    height: 300px;
    border-radius: 15px;
    border: 0 solid;
}

.mg {
    margin: 15px;
}

.mg table {
    text-align: center;
    vertical-align: top;
    border: 1px solid;
    border-radius: 15px;
}

.mg td {
    vertical-align: top;
}

.sib {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    text-align: center;
}

.si1 {
    text-align: center;
}

.si2 {
    display: flex;
    justify-content: center;
}

.simg {
    width: 100%;
}

.histroy iframe {
    height: 200px;
    width: auto;
}

.histroy img {
    height: 200px;
}

.histroy {
    max-width: 100%;
    overflow: auto;
}

.histroy tr {
    margin: 5px;
    padding: 5px;
}

.histroy td {
    vertical-align: top;
    margin: 15px;
    width: auto;
    border-radius: 15px;
}

.histroy td p {
    width: auto;
    margin: 0;
}

.histroy td img {
    width: auto;
    margin: 0;
}

@media (max-width:768px) {
    .main p {
        width: auto;
    }

    .main img {
        height: 200px;
    }

    .main {
        margin: 5px;
    }

    .htit {
        display: block;
    }
}