.header{
    text-align: center;
    height: 500px;
    background-image: url('img1.jpg');
    background-size: cover;
    border-radius: 0 0 20px 20px;
}
.logo img{
    height: 24px;
    border-radius: 15px;
}
body{
    z-index:0;
}
.logo{
    background-color: white;
    border-radius: 0 0 15px 15px;
    width: 60%;
    margin-left: 19%;
    box-shadow: 0 10px 10px #000;
}
.nav{
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    padding: 15px;
}
.nav img{
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
.nav0{
    text-align: center;
}
.nav1{
    display: flex;
    justify-content: space-around;
}
.footer{
    text-align: center;
    margin-top: 15px;
}
.main0{
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    margin: 15px;
}
.main0 img{
    height: 300px;
    border-radius: 15px;
}
.main0 button{
    background-color: white;
    border: 0.5px solid black;
    cursor: pointer;
}
.main1_1{
    box-shadow: 3px 3px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 15px;
    position: fixed;
    background-color: white;
    width: 90%;
    margin-left: 3%;
    z-index: 999;
    display: none;
}
.main1_1x{
    cursor: pointer;
    text-align: right;
    font-size: 20px;
}
.main1_1 h2{
    text-align: center;
}
.main0 a{
    color: blue;
    cursor: pointer;
}
.black{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    margin-top: 0;
    opacity: 0.5;
    display: none;
}
.main1{
    margin: 15px;
}

@media (max-width: 768px) {
    .nav1{
        display: block;
    }
    .main0{
        width: 80%;
    }
    .logo{
        width: 80%;
        margin-left: 8%;
    }
    .main1{
        margin: 0;
    }
}